* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: url(https://subtlepatterns.com/patterns/white_texture.png);
  font: 100 14px sans-serif;
  color: #444555;
}
h1 {
  font-weight: 100;
  font-size: 2.7em;
  text-align: center;
  margin: 20px;
}
h3 {
  font-weight: 100;
  font-size: 1.8em;
  text-align: center;
  margin: 20px;
}

.wrapper {
  max-width: 700px;
  height: 200px;
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  position: relative;
}

.center {
  color: white;
  border-radius: 5px;
  background-color: #333;
  padding: 20px;
  width: 400px;
}

.wrapper.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper.flex .center {
    background: #333;
    border-radius: 5px;
    color: white;
    padding: 20px;
}